
@{
    ViewData["Title"] = "About";
    Layout = "~/Views/Shared/_HomeLayout.cshtml";
}

<div class="back_re">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="title">
                    <h2>About Us</h2>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- about -->
<div class="about">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-5">
                <div class="titlepage">

                    <p class="margin_0">@ViewBag.desc</p>
                    
                </div>
            </div>
            <div class="col-md-7">
                <div class="about_img">
                    <figure><img src="~/HomeAss/images/about.png" alt="#" /></figure>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- end about -->
