@model IEnumerable<Blogpost>
@{
    ViewData["Title"] = "Blog";
    Layout = "~/Views/Shared/_HomeLayout.cshtml";
}

<div class="back_re">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="title">
                    <h2>Blog</h2>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- blog -->
<div class="blog">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="titlepage">

                    <p class="margin_0">Lorem Ipsum available, but the majority have suffered </p>
                </div>
            </div>
        </div>
        <div class="row">
            @foreach(var item in Model)
            {
                <div class="col-md-4">
                    <div class="blog_box">
                        <div class="blog_img">
                            <figure><img src=@Url.Content("~/Images/"+item.ImageUrl) asp-append-version="true" alt="#" /></figure>
                        </div>
                        <div class="blog_room">
                            <h3>@item.Title</h3>
                            <span>@item.PostDate </span>
                            <p>@item.Description </p>
                        </div>
                    </div>
                </div>
            }
           
            
           
        </div>
    </div>
</div>
<!-- end blog -->